{
  "logging": {
    "default": {
      "logLocally": false,
      "sendToLogentries": true,
      "logInterval": 1
    },
    "heartbeat": {
      "logLocally": false,
      "sendToLogentries": true,
      "logInterval": 5
    },
    "system-stats": {
      "logLocally": false,
      "sendToLogentries": true,
      "logInterval": 5
    }
  },
  "reporter": {
    "user_key": "Insert Account Key",
    "current_version": "1.2.0.700",
    "interval": 3,
    "token": "not used"
  },
  "backend": {
    "amazon_s3_bucket": "",
    "encrypt_s3_logs": false,
    "amazon_s3_account_id": "",
    "amazon_s3_secret_key": "",
    "local_path": "logs",
    "amazon_s3_encryption_key_file": ""
  },
  "rules": [{"pattern": ".*"}]
}