{
  "tcp": {
    "tls_bind_port": 20000,
    "line_decoder": true,
    "bind_port": 10000,
    "max_size": 8000
  },
  "settings": {
    "port": 20000,
    "api_url": "https://api.logentries.com",
    "config_polling_interval": 60,
    "config_pull_timeout": 10,
    "host": "data.logentries.com",
    "queued_log_space": 40,
    "api2_url": "https://logentries.com/datahub"
  },
  "healthcheck": {
    "ssl_cert_chain_file": "cert_chain_tls.pem",
    "server_use_ssl": false,
    "ssl_private_key_file": "cert_private_key_tls.pem",
    "server_port": 4242
  },
  "log": {"level": "info"},
  "db": {
    "server": "localhost",
    "password": "dbuser1!",
    "connect": false,
    "username": "dbuser"
  }
}